/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2017, 11:58:46 PM
    Author     : Albe
*/
body{
    background: whitesmoke;
    font-family: sans-serif;
}

h1{
 color: #dd4b39;
 border-bottom: 1px solid #dd4b39;
 text-align: center;
}

h2{
    color:midnightblue;
    text-indent: 30px;
}

h3{
    color:midnightblue;
    text-indent: 40px;
}

a:link{
    color:lightskyblue
}

a:visited{
    color:purple;
}

input:focus { 
    background-color: azure;
    border: 1px solid #dcdcdc;
}